body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f5f5f5;
    background-image: url('crypto.jpg');
    background-size: auto;
    background-position: top left;
    background-repeat: repeat;
    background-size: 25%;
    opacity: 1;
}

h1 {
    color: white;
    font-weight: bold;
}

input {
    padding: 10px;
    width: 200px;
    margin-bottom: 10px;
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#cryptoContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.crypto-card {
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 80%;
    text-align: center;
    backdrop-filter: blur(5px);
}

.crypto-logo {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}